<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_Events_init() hook (in hooks/Club_Events.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_Events-Date-<%%VALUE(Id)%%>" class="Club_Events-Date"><%%VALUE(Date)%%></td>
		<td id="Club_Events-Title-<%%VALUE(Id)%%>" class="Club_Events-Title"><%%VALUE(Title)%%></td>
		<td id="Club_Events-Description-<%%VALUE(Id)%%>" class="Club_Events-Description"><%%VALUE(Description)%%></td>
		<td id="Club_Events-StartTime-<%%VALUE(Id)%%>" class="Club_Events-StartTime"><%%VALUE(StartTime)%%></td>
		<td id="Club_Events-EndTime-<%%VALUE(Id)%%>" class="Club_Events-EndTime"><%%VALUE(EndTime)%%></td>
		<td id="Club_Events-EventAddress-<%%VALUE(Id)%%>" class="Club_Events-EventAddress"><%%VALUE(EventAddress)%%></td>
		<td id="Club_Events-Map-<%%VALUE(Id)%%>" class="Club_Events-Map"><img src="<%%GOOGLEMAPTHUMB(Map)%%>" style="max-width: 50px; max-height: 50px; " ></td>
