<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_EventEntrants_init() hook (in hooks/Club_EventEntrants.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_EventEntrants-Number-<%%VALUE(Id)%%>" class="Club_EventEntrants-Number text-right"><%%VALUE(Number)%%></td>
		<td id="Club_EventEntrants-Event-<%%VALUE(Id)%%>" class="Club_EventEntrants-Event"><%%VALUE(Event)%%></td>
		<td id="Club_EventEntrants-Entrant-<%%VALUE(Id)%%>" class="Club_EventEntrants-Entrant"><%%VALUE(Entrant)%%></td>
		<td id="Club_EventEntrants-MemberID-<%%VALUE(Id)%%>" class="Club_EventEntrants-MemberID"><%%VALUE(MemberID)%%></td>
		<td id="Club_EventEntrants-Licence-<%%VALUE(Id)%%>" class="Club_EventEntrants-Licence"><%%VALUE(Licence)%%></td>
		<td id="Club_EventEntrants-Emergency1-<%%VALUE(Id)%%>" class="Club_EventEntrants-Emergency1"><%%VALUE(Emergency1)%%></td>
		<td id="Club_EventEntrants-Emergency2-<%%VALUE(Id)%%>" class="Club_EventEntrants-Emergency2"><%%VALUE(Emergency2)%%></td>
		<td id="Club_EventEntrants-DateOfBirth-<%%VALUE(Id)%%>" class="Club_EventEntrants-DateOfBirth"><%%VALUE(DateOfBirth)%%></td>
		<td id="Club_EventEntrants-Age-<%%VALUE(Id)%%>" class="Club_EventEntrants-Age"><%%VALUE(Age)%%></td>
		<td id="Club_EventEntrants-Gender-<%%VALUE(Id)%%>" class="Club_EventEntrants-Gender"><%%VALUE(Gender)%%></td>
		<td id="Club_EventEntrants-StartTime-<%%VALUE(Id)%%>" class="Club_EventEntrants-StartTime"><%%VALUE(StartTime)%%></td>
		<td id="Club_EventEntrants-EndTime-<%%VALUE(Id)%%>" class="Club_EventEntrants-EndTime"><%%VALUE(EndTime)%%></td>
		<td id="Club_EventEntrants-Position-<%%VALUE(Id)%%>" class="Club_EventEntrants-Position text-right"><%%VALUE(Position)%%></td>
