<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_Attendance_init() hook (in hooks/Club_Attendance.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_Attendance-Date-<%%VALUE(Id)%%>" class="Club_Attendance-Date text-center"><%%VALUE(Date)%%></td>
		<td id="Club_Attendance-MemberID-<%%VALUE(Id)%%>" class="Club_Attendance-MemberID"><%%VALUE(MemberID)%%></td>
		<td id="Club_Attendance-Notes-<%%VALUE(Id)%%>" class="Club_Attendance-Notes"><%%VALUE(Notes)%%></td>
		<td id="Club_Attendance-KnownAbsence-<%%VALUE(Id)%%>" class="Club_Attendance-KnownAbsence"><%%VALUE(KnownAbsence)%%></td>
		<td id="Club_Attendance-Volunteer-<%%VALUE(Id)%%>" class="Club_Attendance-Volunteer"><%%VALUE(Volunteer)%%></td>
