<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_EventEntrants_init() hook (in hooks/Club_EventEntrants.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_EventEntrants-Number-<%%VALUE(Id)%%>" class="Club_EventEntrants-Number text-right"><%%SELECT%%><%%VALUE(Number)%%><%%ENDSELECT%%></td>
		<td id="Club_EventEntrants-Event-<%%VALUE(Id)%%>" class="Club_EventEntrants-Event"><%%SELECT%%><%%VALUE(Event)%%><%%ENDSELECT%%></td>
		<td id="Club_EventEntrants-Entrant-<%%VALUE(Id)%%>" class="Club_EventEntrants-Entrant"><%%SELECT%%><%%VALUE(Entrant)%%><%%ENDSELECT%%></td>
		<td id="Club_EventEntrants-MemberID-<%%VALUE(Id)%%>" class="Club_EventEntrants-MemberID"><%%SELECT%%><%%VALUE(MemberID)%%><%%ENDSELECT%%></td>
		<td id="Club_EventEntrants-Licence-<%%VALUE(Id)%%>" class="Club_EventEntrants-Licence"><%%SELECT%%><%%VALUE(Licence)%%><%%ENDSELECT%%></td>
		<td id="Club_EventEntrants-Emergency1-<%%VALUE(Id)%%>" class="Club_EventEntrants-Emergency1"><%%SELECT%%><%%VALUE(Emergency1)%%><%%ENDSELECT%%></td>
		<td id="Club_EventEntrants-Emergency2-<%%VALUE(Id)%%>" class="Club_EventEntrants-Emergency2"><%%SELECT%%><%%VALUE(Emergency2)%%><%%ENDSELECT%%></td>
		<td id="Club_EventEntrants-DateOfBirth-<%%VALUE(Id)%%>" class="Club_EventEntrants-DateOfBirth"><%%SELECT%%><%%VALUE(DateOfBirth)%%><%%ENDSELECT%%></td>
		<td id="Club_EventEntrants-Age-<%%VALUE(Id)%%>" class="Club_EventEntrants-Age"><%%SELECT%%><%%VALUE(Age)%%><%%ENDSELECT%%></td>
		<td id="Club_EventEntrants-Gender-<%%VALUE(Id)%%>" class="Club_EventEntrants-Gender"><%%SELECT%%><%%VALUE(Gender)%%><%%ENDSELECT%%></td>
		<td id="Club_EventEntrants-StartTime-<%%VALUE(Id)%%>" class="Club_EventEntrants-StartTime"><%%SELECT%%><%%VALUE(StartTime)%%><%%ENDSELECT%%></td>
		<td id="Club_EventEntrants-EndTime-<%%VALUE(Id)%%>" class="Club_EventEntrants-EndTime"><%%SELECT%%><%%VALUE(EndTime)%%><%%ENDSELECT%%></td>
		<td id="Club_EventEntrants-Position-<%%VALUE(Id)%%>" class="Club_EventEntrants-Position text-right"><%%SELECT%%><%%VALUE(Position)%%><%%ENDSELECT%%></td>
