<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_AgeCats_init() hook (in hooks/Club_AgeCats.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_AgeCats-Cat-<%%VALUE(Id)%%>" class="Club_AgeCats-Cat text-center"><%%VALUE(Cat)%%></td>
		<td id="Club_AgeCats-Description-<%%VALUE(Id)%%>" class="Club_AgeCats-Description"><%%VALUE(Description)%%></td>
		<td id="Club_AgeCats-StartYearOfBirth-<%%VALUE(Id)%%>" class="Club_AgeCats-StartYearOfBirth text-center"><%%VALUE(StartYearOfBirth)%%></td>
		<td id="Club_AgeCats-EndYearOfBirth-<%%VALUE(Id)%%>" class="Club_AgeCats-EndYearOfBirth text-center"><%%VALUE(EndYearOfBirth)%%></td>
		<td id="Club_AgeCats-GearRoad-<%%VALUE(Id)%%>" class="Club_AgeCats-GearRoad"><%%VALUE(GearRoad)%%></td>
		<td id="Club_AgeCats-GearTrack-<%%VALUE(Id)%%>" class="Club_AgeCats-GearTrack"><%%VALUE(GearTrack)%%></td>
		<td id="Club_AgeCats-GearRoller-<%%VALUE(Id)%%>" class="Club_AgeCats-GearRoller"><%%VALUE(GearRoller)%%></td>
