<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">First Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(FirstName)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(LastName)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Started</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(Started)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">U18 YV</label>
			<div class="col-xs-9">
				<div class="form-control-static"><input type="checkbox" name="Under18" id="Under18" value="1" <%%CHECKED(Under18)%%> readonly></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Role</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(Roles)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Photo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var ImageSrc1<%%RND1%%>='<%%TRANSLATION(ImageFolder)%%><%%VALUE(Image)%%>';
				var ImageSrc2<%%RND1%%>='thumbnail.php?t=Club_Volunteers&f=Image&i=<%%VALUE(Image)%%>&v=dv'
			</script>
			<a href="#" onclick="$('ImageImg<%%RND1%%>').src=($('ImageImg<%%RND1%%>').src.search(/thumbnail\.php/) != -1 && ImageSrc1<%%RND1%%> != '<%%TRANSLATION(ImageFolder)%%>' ? ImageSrc1<%%RND1%%> : ImageSrc2<%%RND1%%>); return false;"><img id="ImageImg<%%RND1%%>" src="thumbnail.php?t=Club_Volunteers&f=Image&i=<%%VALUE(Image)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Email</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Email)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<!-- child records -->
<div class="panel-body">
	<div id="Club_Volunteers-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=Club_Volunteers-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'Club_Volunteers',
				SelectedID: '<%%VALUE(Id)%%>',
				Operation: 'show-children-printable'
			},
			'Club_Volunteers-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

