<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_Members_init() hook (in hooks/Club_Members.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_Members-MemberID-<%%VALUE(Id)%%>" class="Club_Members-MemberID text-center"><%%SELECT%%><%%VALUE(MemberID)%%><%%ENDSELECT%%></td>
		<td id="Club_Members-FirstName-<%%VALUE(Id)%%>" class="Club_Members-FirstName"><%%SELECT%%><%%VALUE(FirstName)%%><%%ENDSELECT%%></td>
		<td id="Club_Members-LastName-<%%VALUE(Id)%%>" class="Club_Members-LastName"><%%SELECT%%><%%VALUE(LastName)%%><%%ENDSELECT%%></td>
		<td id="Club_Members-DateStarted-<%%VALUE(Id)%%>" class="Club_Members-DateStarted text-center"><%%SELECT%%><%%VALUE(DateStarted)%%><%%ENDSELECT%%></td>
		<td id="Club_Members-YearOfBirth-<%%VALUE(Id)%%>" class="Club_Members-YearOfBirth"><%%SELECT%%><%%VALUE(YearOfBirth)%%><%%ENDSELECT%%></td>
		<td id="Club_Members-Age-<%%VALUE(Id)%%>" class="Club_Members-Age"><%%SELECT%%><%%VALUE(Age)%%><%%ENDSELECT%%></td>
		<td id="Club_Members-Gender-<%%VALUE(Id)%%>" class="Club_Members-Gender"><%%SELECT%%><%%VALUE(Gender)%%><%%ENDSELECT%%></td>
		<td id="Club_Members-Licence-<%%VALUE(Id)%%>" class="Club_Members-Licence text-right"><%%SELECT%%><%%VALUE(Licence)%%><%%ENDSELECT%%></td>
		<td id="Club_Members-Active-<%%VALUE(Id)%%>" class="Club_Members-Active"><%%SELECT%%><%%VALUE(Active)%%><%%ENDSELECT%%></td>
		<td id="Club_Members-Bikeability-<%%VALUE(Id)%%>" class="Club_Members-Bikeability"><%%SELECT%%><%%VALUE(Bikeability)%%><%%ENDSELECT%%></td>
		<td id="Club_Members-EmergencyContact1-<%%VALUE(Id)%%>" class="Club_Members-EmergencyContact1"><%%SELECT%%><%%VALUE(EmergencyContact1)%%><%%ENDSELECT%%></td>
		<td id="Club_Members-EmergencyContact2-<%%VALUE(Id)%%>" class="Club_Members-EmergencyContact2"><%%SELECT%%><%%VALUE(EmergencyContact2)%%><%%ENDSELECT%%></td>
		<td id="Club_Members-MembershipType-<%%VALUE(Id)%%>" class="Club_Members-MembershipType"><%%SELECT%%><%%VALUE(MembershipType)%%><%%ENDSELECT%%></td>
