<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_Volunteers_init() hook (in hooks/Club_Volunteers.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_Volunteers-FirstName-<%%VALUE(Id)%%>" class="Club_Volunteers-FirstName"><%%VALUE(FirstName)%%></td>
		<td id="Club_Volunteers-LastName-<%%VALUE(Id)%%>" class="Club_Volunteers-LastName"><%%VALUE(LastName)%%></td>
		<td id="Club_Volunteers-Started-<%%VALUE(Id)%%>" class="Club_Volunteers-Started"><%%VALUE(Started)%%></td>
		<td id="Club_Volunteers-Under18-<%%VALUE(Id)%%>" class="Club_Volunteers-Under18"><%%VALUE(Under18)%%></td>
		<td id="Club_Volunteers-Roles-<%%VALUE(Id)%%>" class="Club_Volunteers-Roles"><%%VALUE(Roles)%%></td>
		<td id="Club_Volunteers-Image-<%%VALUE(Id)%%>" class="Club_Volunteers-Image"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(Image)%%>" data-lightbox="Club_Volunteers-Image"><img src="thumbnail.php?i=<%%VALUE(Image)%%>&t=Club_Volunteers&f=Image&v=tv" class="img-thumbnail"></a></td>
		<td id="Club_Volunteers-Email-<%%VALUE(Id)%%>" class="Club_Volunteers-Email"><a href="mailto:<%%VALUE(Email)%%>" title="<%%VALUE(Email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
