<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_Attendance_init() hook (in hooks/Club_Attendance.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_Attendance-Date-<%%VALUE(Id)%%>" class="Club_Attendance-Date text-center"><%%SELECT%%><%%VALUE(Date)%%><%%ENDSELECT%%></td>
		<td id="Club_Attendance-MemberID-<%%VALUE(Id)%%>" class="Club_Attendance-MemberID"><%%SELECT%%><%%VALUE(MemberID)%%><%%ENDSELECT%%></td>
		<td id="Club_Attendance-Notes-<%%VALUE(Id)%%>" class="Club_Attendance-Notes"><%%SELECT%%><%%VALUE(Notes)%%><%%ENDSELECT%%></td>
		<td id="Club_Attendance-KnownAbsence-<%%VALUE(Id)%%>" class="Club_Attendance-KnownAbsence"><%%SELECT%%><%%VALUE(KnownAbsence)%%><%%ENDSELECT%%></td>
		<td id="Club_Attendance-Volunteer-<%%VALUE(Id)%%>" class="Club_Attendance-Volunteer"><%%SELECT%%><%%VALUE(Volunteer)%%><%%ENDSELECT%%></td>
