<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_Events_init() hook (in hooks/Club_Events.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_Events-Date-<%%VALUE(Id)%%>" class="Club_Events-Date"><%%SELECT%%><%%VALUE(Date)%%><%%ENDSELECT%%></td>
		<td id="Club_Events-Title-<%%VALUE(Id)%%>" class="Club_Events-Title"><%%SELECT%%><%%VALUE(Title)%%><%%ENDSELECT%%></td>
		<td id="Club_Events-Description-<%%VALUE(Id)%%>" class="Club_Events-Description"><%%SELECT%%><%%VALUE(Description)%%><%%ENDSELECT%%></td>
		<td id="Club_Events-StartTime-<%%VALUE(Id)%%>" class="Club_Events-StartTime"><%%SELECT%%><%%VALUE(StartTime)%%><%%ENDSELECT%%></td>
		<td id="Club_Events-EndTime-<%%VALUE(Id)%%>" class="Club_Events-EndTime"><%%SELECT%%><%%VALUE(EndTime)%%><%%ENDSELECT%%></td>
		<td id="Club_Events-EventAddress-<%%VALUE(Id)%%>" class="Club_Events-EventAddress"><%%SELECT%%><%%VALUE(EventAddress)%%><%%ENDSELECT%%></td>
		<td id="Club_Events-Map-<%%VALUE(Id)%%>" class="Club_Events-Map"><%%SELECT%%><img src="<%%GOOGLEMAPTHUMB(Map)%%>" style="max-width: 50px; max-height: 50px; " ><%%ENDSELECT%%></td>
