<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_SessionDates_init() hook (in hooks/Club_SessionDates.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_SessionDates-Date-<%%VALUE(Id)%%>" class="Club_SessionDates-Date text-center"><%%VALUE(Date)%%></td>
		<td id="Club_SessionDates-Type-<%%VALUE(Id)%%>" class="Club_SessionDates-Type"><%%VALUE(Type)%%></td>
		<td id="Club_SessionDates-SubType-<%%VALUE(Id)%%>" class="Club_SessionDates-SubType"><%%VALUE(SubType)%%></td>
		<td id="Club_SessionDates-Notes-<%%VALUE(Id)%%>" class="Club_SessionDates-Notes"><%%VALUE(Notes)%%></td>
