<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="Club_Volunteers_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="Club_VolunteerAttendance_view.php?filterer_VolunteerId=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>" id="Club_VolunteerAttendance_link"><i class="glyphicon glyphicon-list-alt"></i> Volunteer Attendance</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="Club_VolunteerAttendance_view.php?filterer_VolunteerId=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>" id="xs_Club_VolunteerAttendance_link"><i class="glyphicon glyphicon-list-alt"></i> Volunteer Attendance</a>
			<input type="hidden" id="Club_VolunteerAttendance_hclink" value="Club_VolunteerAttendance_view.php?filterer_VolunteerId=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="Club_VolunteerDocumentation_view.php?filterer_VolunteerId=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>" id="Club_VolunteerDocumentation_link"><i class="glyphicon glyphicon-list-alt"></i> Volunteer Documentation</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="Club_VolunteerDocumentation_view.php?filterer_VolunteerId=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>" id="xs_Club_VolunteerDocumentation_link"><i class="glyphicon glyphicon-list-alt"></i> Volunteer Documentation</a>
			<input type="hidden" id="Club_VolunteerDocumentation_hclink" value="Club_VolunteerDocumentation_view.php?filterer_VolunteerId=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="Club_Volunteers_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="FirstName" class="control-label col-lg-3">First Name <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#FirstName-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="FirstName-description"><div class="alert alert-info">Volunteer's First Name</div></span>

						<input maxlength="40" type="text" class="form-control" name="FirstName" id="FirstName" value="<%%VALUE(FirstName)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="LastName" class="control-label col-lg-3">Last Name <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#LastName-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="LastName-description"><div class="alert alert-info">Volunteer's Last Name</div></span>

						<input maxlength="40" type="text" class="form-control" name="LastName" id="LastName" value="<%%VALUE(LastName)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="Started" class="control-label col-lg-3">Started<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Started-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="Started-description"><div class="alert alert-info">The date the volunteer started</div></span>

						<%%COMBO(Started)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<div class="col-lg-offset-3 col-lg-9">
						<div class="checkbox"><label for="Under18"><input type="checkbox" name="Under18" id="Under18" value="1" <%%CHECKED(Under18)%%>> U18 YV</label>
							<i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Under18-description"></i>
							<span class="help-block collapse" id="Under18-description"><div class="alert alert-info">Is the volunteer under 18 and part of the Young Volunteer Programme?</div></span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="Roles" class="control-label col-lg-3">Role <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Roles-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="Roles-description"><div class="alert alert-info">The roles that the volunteer fulfills</div></span>

						<%%COMBO(Roles)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Photo <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Image-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="Image-description"><div class="alert alert-info">Maximum file size allowed: 300 KB.<br>Allowed file types: jpg, jpeg, gif, png</div></span>

						<div class="form-control-static well well-sm"><div class="pull-left">

						<a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(Image)%%>" data-lightbox="Club_Volunteers_dv"><img src="thumbnail.php?i=<%%VALUE(Image)%%>&t=Club_Volunteers&f=Image&v=dv" class="img-thumbnail" id="Image-image"></a>
</div>

												<div class="pull-right well upload-toolbox">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(Image)%%>
							<%%REMOVEFILE(Image)%%>
							<div class="text-bold text-danger file-type-error hidden">
								<%%TRANSLATION(invalid file type)%%>
							</div>
							<div class="text-bold text-danger file-size-error hidden">
								<%%TRANSLATION(file too large)%%>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="Email" class="control-label col-lg-3">Email <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Email-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="Email-description"><div class="alert alert-info">Email Address</div></span>

						
						<div>
							<a id="Email-link" href="mailto:<%%VALUE(Email)%%>" target="_blank"><i class="glyphicon glyphicon-envelope text-info" title="<%%VALUE(Email)%%>"></i></a>
							<label for="Email"><button type="button" id="Email-edit-link" class="btn btn-default hspacer-lg vspacer-sm" data-toggle="collapse" data-target="#Email" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
						</div>
						<script>jQuery(function() { /* */ var e_Email = '<%%VALUE(Email)%%>'; if(e_Email == '' || e_Email == '&nbsp;' || e_Email == 'blank.gif') jQuery('#Email-link').hide(); });</script><input maxlength="80" type="text" class="form-control collapse" name="Email" id="Email" value="<%%VALUE(Email)%%>">
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="Club_Volunteers_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="Club_Volunteers-children" class="children-tabs"></div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			setTimeout(AppGini.focusFirstFormElement, 100);

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function() { /* */ return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			}else{
				post(
					'parent-children.php', {
						ParentTable: 'Club_Volunteers',
						SelectedID: '<%%VALUE(Id)%%>',
						Operation: 'show-children'
					},
					'Club_Volunteers-children'
				);
			}

			if(!embedded_mode) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.clear(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'Club_Volunteers',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				}else{
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=Club_Volunteers&id=<%%URLVALUE(Id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=Club_Volunteers&id=<%%URLVALUE(Id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>