<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_VolunteerAttendance_init() hook (in hooks/Club_VolunteerAttendance.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_VolunteerAttendance-Date-<%%VALUE(Id)%%>" class="Club_VolunteerAttendance-Date text-right"><%%VALUE(Date)%%></td>
		<td id="Club_VolunteerAttendance-VolunteerId-<%%VALUE(Id)%%>" class="Club_VolunteerAttendance-VolunteerId"><%%VALUE(VolunteerId)%%></td>
		<td id="Club_VolunteerAttendance-Notes-<%%VALUE(Id)%%>" class="Club_VolunteerAttendance-Notes"><%%VALUE(Notes)%%></td>
