<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="Club_Members_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="Club_Attendance_view.php?filterer_MemberID=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>" id="Club_Attendance_link"><i class="glyphicon glyphicon-list-alt"></i> Attendance</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="Club_Attendance_view.php?filterer_MemberID=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>" id="xs_Club_Attendance_link"><i class="glyphicon glyphicon-list-alt"></i> Attendance</a>
			<input type="hidden" id="Club_Attendance_hclink" value="Club_Attendance_view.php?filterer_MemberID=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="Club_EventEntrants_view.php?filterer_Entrant=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>" id="Club_EventEntrants_link"><i class="glyphicon glyphicon-list-alt"></i> Club Event Entrants</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="Club_EventEntrants_view.php?filterer_Entrant=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>" id="xs_Club_EventEntrants_link"><i class="glyphicon glyphicon-list-alt"></i> Club Event Entrants</a>
			<input type="hidden" id="Club_EventEntrants_hclink" value="Club_EventEntrants_view.php?filterer_Entrant=<%%URLVALUE(Id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="Club_Members_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="MemberID" class="control-label col-lg-3">Member# <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#MemberID-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="MemberID-description"><div class="alert alert-info">This is the member's club membership number</div></span>

						<input maxlength="" type="text" class="form-control" name="MemberID" id="MemberID" value="<%%VALUE(MemberID)%%>"><div class="text-danger vspacer-md" id="MemberID-uniqueness-note" style="display: none;"><%%TRANSLATION(unique field error)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="FirstName" class="control-label col-lg-3">First Name <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#FirstName-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="FirstName-description"><div class="alert alert-info">Member's First Name</div></span>

						<input maxlength="40" type="text" class="form-control" name="FirstName" id="FirstName" value="<%%VALUE(FirstName)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="LastName" class="control-label col-lg-3">Last Name <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#LastName-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="LastName-description"><div class="alert alert-info">Member's Surname</div></span>

						<input maxlength="40" type="text" class="form-control" name="LastName" id="LastName" value="<%%VALUE(LastName)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="DateStarted" class="control-label col-lg-3">Date Started <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#DateStarted-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="DateStarted-description"><div class="alert alert-info">Date membership started</div></span>

						<%%COMBO(DateStarted)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="YearOfBirth" class="control-label col-lg-3">Date of Birth <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#YearOfBirth-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="YearOfBirth-description"><div class="alert alert-info">The date of birth for the member</div></span>

						<%%COMBO(YearOfBirth)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="Age" class="control-label col-lg-3">Age</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="Age"><%%VALUE(Age)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="Gender" class="control-label col-lg-3">Gender <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Gender-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="Gender-description"><div class="alert alert-info">Male or Female</div></span>

						<%%COMBO(Gender)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="Licence" class="control-label col-lg-3">Licence <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Licence-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="Licence-description"><div class="alert alert-info">British Cycling licence number</div></span>

						<input maxlength="7" type="text" class="form-control" name="Licence" id="Licence" value="<%%VALUE(Licence)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<div class="col-lg-offset-3 col-lg-9">
						<div class="checkbox"><label for="Active"><input type="checkbox" name="Active" id="Active" value="1" <%%CHECKED(Active)%%>> Active</label>
							<i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Active-description"></i>
							<span class="help-block collapse" id="Active-description"><div class="alert alert-info">This member is currently active</div></span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="Bikeability" class="control-label col-lg-3">Bikeability L2 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Bikeability-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="Bikeability-description"><div class="alert alert-info">The highest level of Biekability or National Standard achieved</div></span>

						<%%COMBO(Bikeability)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="EmergencyContact1" class="control-label col-lg-3">Emergency Contact:<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#EmergencyContact1-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="EmergencyContact1-description"><div class="alert alert-info">Primary emergency contact</div></span>

						<input maxlength="40" type="text" class="form-control" name="EmergencyContact1" id="EmergencyContact1" value="<%%VALUE(EmergencyContact1)%%>" required>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="EmergencyContact2" class="control-label col-lg-3">Emergency Contact <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#EmergencyContact2-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="EmergencyContact2-description"><div class="alert alert-info">Secondary emergency contact</div></span>

						<input maxlength="40" type="text" class="form-control" name="EmergencyContact2" id="EmergencyContact2" value="<%%VALUE(EmergencyContact2)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="MembershipType" class="control-label col-lg-3">Membership Type</label>
					<div class="col-lg-9">
						<%%COMBO(MembershipType)%%>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="Club_Members_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="Club_Members-children" class="children-tabs"></div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			setTimeout(AppGini.focusFirstFormElement, 100);

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function() { /* */ return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			}else{
				post(
					'parent-children.php', {
						ParentTable: 'Club_Members',
						SelectedID: '<%%VALUE(Id)%%>',
						Operation: 'show-children'
					},
					'Club_Members-children'
				);
			}

			if(!embedded_mode) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.clear(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'Club_Members',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				}else{
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});

			enforce_uniqueness('Club_Members', 'MemberID');

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=Club_Members&id=<%%URLVALUE(Id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=Club_Members&id=<%%URLVALUE(Id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>