<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_AgeCats_init() hook (in hooks/Club_AgeCats.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_AgeCats-Cat-<%%VALUE(Id)%%>" class="Club_AgeCats-Cat text-center"><%%SELECT%%><%%VALUE(Cat)%%><%%ENDSELECT%%></td>
		<td id="Club_AgeCats-Description-<%%VALUE(Id)%%>" class="Club_AgeCats-Description"><%%SELECT%%><%%VALUE(Description)%%><%%ENDSELECT%%></td>
		<td id="Club_AgeCats-StartYearOfBirth-<%%VALUE(Id)%%>" class="Club_AgeCats-StartYearOfBirth text-center"><%%SELECT%%><%%VALUE(StartYearOfBirth)%%><%%ENDSELECT%%></td>
		<td id="Club_AgeCats-EndYearOfBirth-<%%VALUE(Id)%%>" class="Club_AgeCats-EndYearOfBirth text-center"><%%SELECT%%><%%VALUE(EndYearOfBirth)%%><%%ENDSELECT%%></td>
		<td id="Club_AgeCats-GearRoad-<%%VALUE(Id)%%>" class="Club_AgeCats-GearRoad"><%%SELECT%%><%%VALUE(GearRoad)%%><%%ENDSELECT%%></td>
		<td id="Club_AgeCats-GearTrack-<%%VALUE(Id)%%>" class="Club_AgeCats-GearTrack"><%%SELECT%%><%%VALUE(GearTrack)%%><%%ENDSELECT%%></td>
		<td id="Club_AgeCats-GearRoller-<%%VALUE(Id)%%>" class="Club_AgeCats-GearRoller"><%%SELECT%%><%%VALUE(GearRoller)%%><%%ENDSELECT%%></td>
