<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">VolunteerId</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="VolunteerId<%%RND1%%>"><%%COMBOTEXT(VolunteerId)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Document Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(DocumentDate)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Document Expiry Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(DocumentExpiryDate)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Document Type</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(DocumentType)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Document Link</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="DocumentLink-link" href="link.php?t=Club_VolunteerDocumentation&f=DocumentLink&i=<%%VALUE(Id)%%>" target="_blank"><i class="glyphicon glyphicon-file" title="<%%VALUE(DocumentLink)%%>" style="font-size: x-large;"></i></a><script>jQuery(function() { /* */ var e_DocumentLink = '<%%VALUE(DocumentLink)%%>'; if(e_DocumentLink == '' || e_DocumentLink == '&nbsp;' || e_DocumentLink == 'blank.gif') jQuery('#DocumentLink-link').hide(); });</script></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Notes</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Notes)%%></div>
			</div>
		</div>
	</fieldset>
</div>
