<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="Club_AgeCats_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="Club_AgeCats_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="Cat" class="control-label col-lg-3">Cat <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Cat-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="Cat-description"><div class="alert alert-info">Youth Category</div></span>

						<input maxlength="1" type="text" class="form-control" name="Cat" id="Cat" value="<%%VALUE(Cat)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="Description" class="control-label col-lg-3">Description <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Description-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="Description-description"><div class="alert alert-info">Age category description</div></span>

						<input maxlength="40" type="text" class="form-control" name="Description" id="Description" value="<%%VALUE(Description)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="StartYearOfBirth" class="control-label col-lg-3">Youngest</label>
					<div class="col-lg-9">
						<input maxlength="4" type="text" class="form-control" name="StartYearOfBirth" id="StartYearOfBirth" value="<%%VALUE(StartYearOfBirth)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="EndYearOfBirth" class="control-label col-lg-3">Oldest</label>
					<div class="col-lg-9">
						<input maxlength="4" type="text" class="form-control" name="EndYearOfBirth" id="EndYearOfBirth" value="<%%VALUE(EndYearOfBirth)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="GearRoad" class="control-label col-lg-3">Gear Restriction (Road) <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#GearRoad-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="GearRoad-description"><div class="alert alert-info">Gear restriction for Road Racing in Metres</div></span>

						<input maxlength="40" type="text" class="form-control" name="GearRoad" id="GearRoad" value="<%%VALUE(GearRoad)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="GearTrack" class="control-label col-lg-3">Gear Restriction (Track) <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#GearTrack-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="GearTrack-description"><div class="alert alert-info">Gear restriction for Track Racing in Metres</div></span>

						<input maxlength="40" type="text" class="form-control" name="GearTrack" id="GearTrack" value="<%%VALUE(GearTrack)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="GearRoller" class="control-label col-lg-3">Gear Restriction (Roller) <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#GearRoller-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="GearRoller-description"><div class="alert alert-info">Gear restriction for Roller Racing in Metres</div></span>

						<input maxlength="40" type="text" class="form-control" name="GearRoller" id="GearRoller" value="<%%VALUE(GearRoller)%%>">
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="Club_AgeCats_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			setTimeout(AppGini.focusFirstFormElement, 100);

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function() { /* */ return false; });


			if(!embedded_mode) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.clear(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'Club_AgeCats',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				}else{
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=Club_AgeCats&id=<%%URLVALUE(Id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=Club_AgeCats&id=<%%URLVALUE(Id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>