<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_Members_init() hook (in hooks/Club_Members.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_Members-MemberID-<%%VALUE(Id)%%>" class="Club_Members-MemberID text-center"><%%VALUE(MemberID)%%></td>
		<td id="Club_Members-FirstName-<%%VALUE(Id)%%>" class="Club_Members-FirstName"><%%VALUE(FirstName)%%></td>
		<td id="Club_Members-LastName-<%%VALUE(Id)%%>" class="Club_Members-LastName"><%%VALUE(LastName)%%></td>
		<td id="Club_Members-DateStarted-<%%VALUE(Id)%%>" class="Club_Members-DateStarted text-center"><%%VALUE(DateStarted)%%></td>
		<td id="Club_Members-YearOfBirth-<%%VALUE(Id)%%>" class="Club_Members-YearOfBirth"><%%VALUE(YearOfBirth)%%></td>
		<td id="Club_Members-Age-<%%VALUE(Id)%%>" class="Club_Members-Age"><%%VALUE(Age)%%></td>
		<td id="Club_Members-Gender-<%%VALUE(Id)%%>" class="Club_Members-Gender"><%%VALUE(Gender)%%></td>
		<td id="Club_Members-Licence-<%%VALUE(Id)%%>" class="Club_Members-Licence text-right"><%%VALUE(Licence)%%></td>
		<td id="Club_Members-Active-<%%VALUE(Id)%%>" class="Club_Members-Active"><%%VALUE(Active)%%></td>
		<td id="Club_Members-Bikeability-<%%VALUE(Id)%%>" class="Club_Members-Bikeability"><%%VALUE(Bikeability)%%></td>
		<td id="Club_Members-EmergencyContact1-<%%VALUE(Id)%%>" class="Club_Members-EmergencyContact1"><%%VALUE(EmergencyContact1)%%></td>
		<td id="Club_Members-EmergencyContact2-<%%VALUE(Id)%%>" class="Club_Members-EmergencyContact2"><%%VALUE(EmergencyContact2)%%></td>
		<td id="Club_Members-MembershipType-<%%VALUE(Id)%%>" class="Club_Members-MembershipType"><%%VALUE(MembershipType)%%></td>
