<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Club_VolunteerDocumentation_init() hook (in hooks/Club_VolunteerDocumentation.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Club_VolunteerDocumentation-DocumentDate-<%%VALUE(Id)%%>" class="Club_VolunteerDocumentation-DocumentDate"><%%SELECT%%><%%VALUE(DocumentDate)%%><%%ENDSELECT%%></td>
		<td id="Club_VolunteerDocumentation-DocumentExpiryDate-<%%VALUE(Id)%%>" class="Club_VolunteerDocumentation-DocumentExpiryDate"><%%SELECT%%><%%VALUE(DocumentExpiryDate)%%><%%ENDSELECT%%></td>
		<td id="Club_VolunteerDocumentation-DocumentType-<%%VALUE(Id)%%>" class="Club_VolunteerDocumentation-DocumentType"><%%SELECT%%><%%VALUE(DocumentType)%%><%%ENDSELECT%%></td>
		<td id="Club_VolunteerDocumentation-DocumentLink-<%%VALUE(Id)%%>" class="Club_VolunteerDocumentation-DocumentLink"><a href="link.php?t=Club_VolunteerDocumentation&f=DocumentLink&i=<%%VALUE(Id)%%>" target="_blank" title="<%%VALUE(DocumentLink)%%>" class="btn btn-default"><i class="glyphicon glyphicon-file text-info"></i></a></td>
		<td id="Club_VolunteerDocumentation-Notes-<%%VALUE(Id)%%>" class="Club_VolunteerDocumentation-Notes"><%%SELECT%%><%%VALUE(Notes)%%><%%ENDSELECT%%></td>
		<script>$j(function(){
			var e_DocumentLink = '<%%VALUE(DocumentLink)%%>'; if(e_DocumentLink == '' || e_DocumentLink == '&nbsp;') $j(/*<*/ '#Club_VolunteerDocumentation-DocumentLink-<%%VALUE(Id)%%>' /*>*/).html('');
		});</script>
